#logo {
    max-width: 250px;
}  
/* Navlinks */
#navbarSupportedContent li a{
    display: inline-block;
    position: relative;
    color: #FFD523;
}
#navbarSupportedContent li a::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFD523;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#navbarSupportedContent li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#navbar-header{
    background-color: #2C2E43;
}
.navbar-expand-sm .navbar-nav .nav-link{
    color: #fff;
}